.gradient-text{
    display: inline;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #1232A4 0%, #8D4CF9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;

}